* {
    box-sizing: border-box;
  }
  
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
    background-color: rgb(38, 41, 46);
    overflow-x: hidden;
    scroll-behavior: smooth; 
    color: white;
    display: flex;
    flex-direction: column;
  /* fallback height */
   min-height:100vh;

   /* new small viewport height for modern browsers */
   min-height:100svh;
}

main{
    overflow-x: hidden;
     z-index: 10;
}

header{
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(38, 41, 46);
    position: sticky;
    top: 0px;
    z-index: 12;
  
}

header h1{
    margin-bottom: 10px;
}

.intro{
    text-align: center;
    background-color:rgba(76, 18, 211, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.contain{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.box1, .box2{
    flex-basis: calc(50% - 20px);
    overflow: hidden;
    padding: 20px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}

.box1{
    text-align: left;
    background-color:rgb(57, 105, 182, 0.6);
}

.box1 li{
    /* list-style-type: none; */
    margin-bottom: 5px;
}

.box1 ul{
    padding-left: 5px;
}

.box2{
    text-align: left;
    background-color:rgb(57, 105, 182, 0.6);
}

.box-inner{
    text-align: center;
    background-color:rgba(76, 18, 211, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.box3{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.careers-list, .careers-email{
    flex-basis: calc(50% - 20px);
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: aqua;
    background-color:rgb(57, 105, 182, 0.6);
}

.careers-list ul{
    padding-left: 5px;
}

.careers-list li{
    margin-bottom: 5px;
}

footer, header{
    text-align: center;
    padding: 5px;
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(38, 41, 46);
} 

footer {
    text-align: center;
    padding: 5px;
    /* flex-shrink: 0; */
    margin-top: auto;
    z-index: 10;
}

/* Media query */
@media screen and (max-width: 940px) {
    .box3 {
        flex-direction: column;
    }

    .careers-email, .careers-list{
        flex-basis: 100%;
    }

    .careers-list, .careers-email{
        text-align: center;
    }

    .careers-list ul{
        list-style: none;
        padding-left: 0px;
    }

    .careers-list li::before{
        content: "•";
        margin-right: 5px;
        margin-left: -5px;
    }
}

.bubbles{ 
    position: fixed;
    display: flex;
    bottom: 0; 
    left: 0;
    right: 0;
    justify-content: space-around;
    z-index: 0;
  height: 100%;
}

.bubbles span{ 
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:  0 0 0 10px #4fc3dc44, 
    0 0 100px #4fc3dc;
    animation: animate 5s linear infinite;

}

.bubbles span:nth-child(1)
{
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544, 
    0 0 100px #ff2d75,
    0 0 50px #ff2d75;
    animation: animate 7s linear infinite;
    animation-delay: 0.5s;
}


.bubbles span:nth-child(2)
{
    background: #4fc3dc;
    box-shadow:  0 0 0 10px #4fc3dc44, 
    0 0 100px #4fc3dc;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
}

.bubbles span:nth-child(3)
{
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544, 
    0 0 100px #ff2d75,
    0 0 50px #ff2d75;
    animation: animate 5s linear infinite;
    animation-delay: 2s;
}


.bubbles span:nth-child(4)
{
    background: #4fc3dc;
    box-shadow:  0 0 0 10px #4fc3dc44, 
    0 0 100px #4fc3dc;
    animation: animate 8s linear infinite;
    animation-delay: 0.2s;
}

.bubbles span:nth-child(5)
{
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544, 
    0 0 100px #ff2d75,
    0 0 50px #ff2d75;
    animation: animate 7s linear infinite;
    animation-delay: 2.5s;
}


.bubbles span:nth-child(6)
{
    background: #2dff6f;
    box-shadow:  0 0 0 10px #2dffa744, 
    0 0 100px #2dff6f,
    0 0 50px  #2dff6f;
    animation: animate 12s linear infinite;
    animation-delay: 3s;
}
.bubbles span:nth-child(7)
{
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544, 
    0 0 100px #ff2d75,
    0 0 50px #ff2d75;
    animation: animate 6s linear infinite;
    animation-delay: 1.8s;
}

.bubbles span:nth-child(8)
{
    background: #4fc3dc;
    box-shadow:  0 0 0 10px #4fc3dc44, 
    0 0 100px #4fc3dc;
    animation: animate 4.8s linear infinite;
    animation-delay: 7.1s;
}


.bubbles span:nth-child(9)
{
    background: #2dff6f;
    box-shadow:  0 0 0 10px #2dffa744, 
    0 0 100px #2dff6f,
    0 0 50px  #2dff6f;
    animation: animate 6s linear infinite;
    animation-delay: 1s;
}

.bubbles span:nth-child(10)
{
    background: #2dff6f;
    box-shadow:  0 0 0 10px #2dffa744, 
    0 0 100px #2dff6f,
    0 0 50px  #2dff6f;
    animation: animate 8s linear infinite;
    animation-delay: 4s;
}

@keyframes animate{
    0%
    {
      top: 100%;
      transform: scale(0);
        /* // transform: translateY(10vh) scale(0); */
    }
    100%
    {
      top: 0%;
      transform: scale(1);
        /* transform: translateY(-100%) scale(1); */
    }
}





